html {
    background-color: white;
}

body {
    margin: 0;
}

section{
    max-width: 560px;
}
h1 {
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

.user-name{
    text-align: center;
    margin-bottom: 20px;
}
.star-count{
    margin-left: auto;
    margin-right: 8px;
}